<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <file>
                <protected_extensions>
                    <svg>XXXXXXXXXXXXXXXXXXXXX</svg>
                </protected_extensions>
            </file>
        </general>
    </default>
</config>
